
/Temp/
/Library/
/UserSettings/
/Private/
/obj/
/Builds/
/Logs/
/.vs/

/Assets/Private/
/Assets/Private.meta

.DS_Store
Assets/.reuniter_data

/*.sln
/*.csproj
/*.unityproj
/*.pidb
/*.userprefs

*.vwf
*.vwf.meta
*.log
*.log.meta
*.log.bak
*.log.bak.meta

*.blend1
*.blend2
*.blend3
*.blend1.meta
*.blend2.meta
*.blend3.meta

*.pch
*.pdb
*.dep
*.idb
*.suo
*.ncb

*.lib
BuildLog.htm
*.exp
*.manifest
*.user

/Telemetry/
/.vsconfig
