
/Temp/
/Library/
/Private/
/obj/
/Builds/
/Logs/
/.vs/

/Assets/AssetStore/
/Assets/AssetStore.meta
/Assets/AssetStoreTools/
/Assets/AssetStoreTools.meta
/Assets/Private/
/Assets/Private.meta

.DS_Store
Assets/.reuniter_data

/*.sln
/*.csproj
/*.unityproj
/*.pidb
/*.userprefs

*.blend1
*.blend2
*.blend3
*.blend1.meta
*.blend2.meta
*.blend3.meta

*.pch
*.pdb
*.dep
*.idb
*.suo
*.ncb

*.lib
BuildLog.htm
*.exp
*.manifest
*.user

/Telemetry/
/.vsconfig
