<?xml version="1.0" encoding="utf-8"?>
<dpCorrection>
	<type>2</type>
	<gamma>2.2</gamma>
	<offset>-2000,0,500</offset>
	<loglevel>0</loglevel> <!-- set loglevel to 1 to show unity display and channel id -->
	<channel id="0" blending="blending_0.png" blacklevel="blackLevelAdjust_0.png" cutting="cutting_0.csv" warpmap="warpmap_0.csv" display="0" viewport="0,0,1,1"></channel>
	<channel id="1" blending="blending_1.png" blacklevel="blackLevelAdjust_1.png" cutting="cutting_1.csv" warpmap="warpmap_1.csv" display="1" viewport="0,0,1,1"></channel>
	<channel id="2" blending="blending_2.png" blacklevel="blackLevelAdjust_2.png" cutting="cutting_2.csv" warpmap="warpmap_2.csv" display="2" viewport="0,0,1,1"></channel>
</dpCorrection>
