<?xml version="1.0" encoding="utf-8"?>
<dpCorrection>
	<type>3</type>
	<gamma>2.2</gamma>
	<offset>0,0,0</offset>
	<loglevel>0</loglevel> <!-- set loglevel to 1 to show unity display and channel id -->
	<mapping_0>mapping_0.obj</mapping_0>
	<channel id="0" blending="blending_0.png" frustum="frustum_0.csv" warpmap="warpmap_0.csv" display="0" viewport="0,0,1,1"></channel>
	<channel id="1" blending="blending_1.png" frustum="frustum_1.csv" warpmap="warpmap_1.csv" display="1" viewport="0,0,1,1"></channel>
	<channel id="2" blending="blending_2.png" frustum="frustum_2.csv" warpmap="warpmap_2.csv" display="2" viewport="0,0,1,1"></channel>
	<channel id="3" blending="blending_3.png" frustum="frustum_3.csv" warpmap="warpmap_3.csv" display="3" viewport="0,0,1,1"></channel>
</dpCorrection>
